#hola{
 
 background-color: rgb(213, 8, 8);
 width: 190px;
 height: 150px;
}
 
.juju{
 color: rgb(239, 234, 234);

 width: 150px;
 

 height: 25px;


}

.popo{
 width: 150px;
 height: 25px;
 color: black;
 border: 30px;


}

.nn{
 border-radius: 5px;



}


